<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="usersWeight">
            <h2><span>My weight log</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date Of Log</span></dt>
                <dd>
                    <span>{{usersWeight.dateOfLog | date:'mediumDate' }}</span>
                </dd>
                <dt><span>Value In Kg</span></dt>
                <dd>
                    <span>{{usersWeight.valueInKg}}</span>
                </dd>
                <dt><span>User Extra</span></dt>
                <dd>
                    <div *ngIf="usersWeight.userExtra">
                        <a [routerLink]="['/user-extra', usersWeight.userExtra?.id, 'view']">{{usersWeight.userExtra?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/users-weight', usersWeight.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
