<div>
    <h2 id="page-heading">
        <span>My Weight Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-users-weight" [routerLink]="['/users-weight/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            New weight Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="usersWeights">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date Of Log</span></th>
            <th><span>Value In Kg</span></th>
            <th><span>User Extra</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let usersWeight of usersWeights ;trackBy: trackId">
                <td><a [routerLink]="['/users-weight', usersWeight.id, 'view' ]">{{usersWeight.id}}</a></td>
                <td>{{usersWeight.dateOfLog | date:'mediumDate'}}</td>
                <td>{{usersWeight.valueInKg}}</td>
                <td>
                    <div *ngIf="usersWeight.userExtra">
                        <a [routerLink]="['../user-extra', usersWeight.userExtra?.id, 'view' ]" >{{usersWeight.userExtra?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/users-weight', usersWeight.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/users-weight', usersWeight.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'users-weight/'+ usersWeight.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
