<div class="row justify-content-center">
    <div class="col-8">
        <br>
<!--        <form class="form-inline">
            <div class="form-group">
                <input type="search"
                       class="form-control"
                       placeholder="Enter search string"
                       [formControl]="searchField"
                >
            </div>
        </form>
        <ul class="list-group"  *ngFor="let track of foodList | async ;  let i=index">
            <li class="list-group-item"
                *ngIf="i<7">
                <a  target="_blank" href="{{track.id}}">
                    {{ track.name }}
                </a>
            </li>
        </ul>-->
        <ng-template #noData>No Data Available</ng-template>
        <br><br>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-food-heading">Add consumption</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!food.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="food.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="search"
                           class="form-control"
                           id="field_name" name="name" [(ngModel)]="food.name"
                           placeholder="Enter search string" list="munchies"
                           [formControl]="searchField"
                    >
                    <datalist id="munchies">
                    <option class="list-group"  *ngFor="let track of foodList | async ;  let i=index">
                        <li class="list-group-item"
                            *ngIf="i<5">
                            <a>
                                {{ track.name }}
                            </a>
                        </li>
                    </option>
                    </datalist>
<!--                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="food.name" required/>-->
                    <!--<div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                    </div>-->
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="food.quantity" required max="400" jhiMax="400"/>
                    <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantity?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantity?.errors?.max">
                            This field cannot be more than 400.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantity?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateOfConsumption">Date Of Consumption</label>
                    <div class="d-flex">
                        <input id="field_dateOfConsumption" type="datetime-local" class="form-control" name="dateOfConsumption" [(ngModel)]="dateOfConsumption"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.dateOfConsumption?.dirty && editForm.controls.dateOfConsumption?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateOfConsumption?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dateOfConsumption?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userExtraFood">User Extra Food</label>
                    <select class="form-control" id="field_userExtraFood" name="userExtraFood" [(ngModel)]="food.userExtraFood" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userExtraOption.id === food.userExtraFood?.id ? food.userExtraFood : userExtraOption" *ngFor="let userExtraOption of userextras; trackBy: trackUserExtraById">{{userExtraOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <!--<button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>-->
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
