<div>
    <h2 id="page-heading">
        <span>My consuptions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-food" [routerLink]="['/food/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Add consuption
            </span>
        </button>
       <span><div class="form-group">
            <label class="form-control-label">Choose date</label>
            <div class="d-flex">
                <input id="choice" type="datetime-local" class="form-control" name="dateOfConsumption"/>
            </div>
        </div></span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="foods">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Quantity</span></th>
            <th><span>Date Of Consumption</span></th>
            <th><span>User Extra Food</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let food of foods ;trackBy: trackId">
                <td><a [routerLink]="['/food', food.id, 'view' ]">{{food.id}}</a></td>
                <td>{{food.name}}</td>
                <td>{{food.quantity}}</td>
                <td>{{food.dateOfConsumption | date:'medium'}}</td>
                <td>
                    <div *ngIf="food.userExtraFood">
                        <a [routerLink]="['../user-extra', food.userExtraFood?.id, 'view' ]" >{{food.userExtraFood?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/food', food.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/food', food.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'food/'+ food.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
