<div>
    <h2 id="page-heading">
        <span>My consuptions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-food" [routerLink]="['/food/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
         Add consuption
         </span>
        </button>
        <span>
         <div class="form-group">
            <br>
            <div class="d-flex">
               <input id="choice" type="date" class="form-control" name="date" style="width: 200px" [(ngModel)]="dateYMD"/>
            </div>
         </div>
      </span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <br>
    <div class="table-responsive" *ngIf="foods">
        <table class="table table-striped" id="nutrientVals">
            <thead>
            <tr>
                <th><span>Date</span></th>
                <th><span>Name</span></th>
                <th><span>Quantity</span></th>
                <th><span>Calories</span></th>
                <th><span>Protein</span></th>
                <th><span>Carbs</span></th>
                <th><span>Fats</span></th>
                <th><span>Actions</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody *ngIf="currentAccount">
            <ng-container *ngFor="let food of foods ;trackBy: trackId">
                <tr *ngIf="food.userExtraFood?.id == currentAccount.id && food.dateOfConsumption.format('YYYY-MM-DD') == dateYMD">
                    <ng-container>
                        <!--{{ food.dateOfConsumption.format('YYYY-MM-DD')}} eguals {{ dateYMD}}-->
                        <!--<td><a [routerLink]="['/food', food.id, 'view' ]">{{food.id}}</a></td>-->
                        <td>{{food.dateOfConsumption  | date:'medium'}}</td>
                        <td>{{food.foodName}}</td>
                        <td>{{food.quantity}}</td>
                        <td class="count-me">{{Round(food.calories,2)}}</td>
                        <td class="count-protein">{{Round(food.protein,2)}}</td>
                        <td class="count-carbs">{{Round(food.carbs, 2)}}</td>
                        <td class="count-fats">{{Round(food.fats,2)}}</td>
                        <!--<td>
                           <div *ngIf="food.userExtraFood">
                               {{food.userExtraFood?.id}}
                           </div>
                           </td>-->
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['/food', food.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline"></span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/food', food.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline"></span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'food/'+ food.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline"></span>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
            <tfoot>
            <tr bgcolor="#00ff7f">
                <td><b>Eaten today: </b></td>
                <td>    </td>
                <td>  </td>
                <td class="colsum">{{sumCals()}}</td>
                <td class="colsum">{{sumProtein()}}</td>
                <td class="colsum">{{sumCarbs()}}</td>
                <td class="colsum">{{sumFats()}}</td>
                <td></td>
                <th></th>
            </tr>
            <tr bgcolor="#b8e2d4">
                <td><b>Left to eat: </b></td>
                <td>    </td>
                <td>  </td>
                <td class="colsum">{{Round(calsNeed, 2) - sumCals()}}</td>
                <td class="colsum">{{Round(proteinNeed, 2) - sumProtein()}}</td>
                <td class="colsum">{{Round(carbsNeed, 2) - sumCarbs()}}</td>
                <td class="colsum">{{-sumFats() + Round(fatNeed, 2)}}</td>
                <td></td>
                <th></th>
            </tr>
        </tfoot>
            </tbody>
        </table>
        <ngb-progressbar class="colsum" type="success" value="{{sumCals()}}" max="{{calsNeed}}">CALORIES</ngb-progressbar>
        <ngb-progressbar class="colsum" value="{{sumProtein()}}" max="{{proteinNeed}}">PROTEIN</ngb-progressbar>
        <ngb-progressbar class="colsum" type="success"  value="{{sumCarbs()}}" max="{{carbsNeed}}">CARBOHYDRATES</ngb-progressbar>
        <ngb-progressbar class="colsum" value="{{sumFats()}}" max="{{fatNeed}}">FATS</ngb-progressbar>
    </div>
</div>
