<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nutrien">
            <h2><span>Nutrien</span> {{nutrien.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nutrient</span></dt>
                <dd>
                    <span>{{nutrien.nutrient}}</span>
                </dd>
                <dt><span>Unit</span></dt>
                <dd>
                    <span>{{nutrien.unit}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{nutrien.value}}</span>
                </dd>
                <dt><span>Gm</span></dt>
                <dd>
                    <span>{{nutrien.gm}}</span>
                </dd>
                <dt><span>Food</span></dt>
                <dd>
                    <div *ngIf="nutrien.food">
                        <a [routerLink]="['/food', nutrien.food?.id, 'view']">{{nutrien.food?.nutrient}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nutrien', nutrien.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
